<div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 p-5">
  <div class="col">
    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
      <div class="d-flex flex-column h-100 p-5 text-shadow-1">
        <h3 class="py-5 text-center mb-4 display-6 lh-1 fw-bold">1 Home Supplies</h3>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
      <div class="d-flex flex-column h-100 p-5 text-shadow-1">
        <h3 class="py-5 text-center mb-4 display-6 lh-1 fw-bold">2 School Supplies</h3>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
      <div class="d-flex flex-column h-100 p-5 text-shadow-1">
        <h3 class="py-5 text-center mb-4 display-6 lh-1 fw-bold">3 Gifts and Items</h3>
      </div>
    </div>
  </div>
  
  <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
        <div class="d-flex flex-column h-100 p-5 text-shadow-1">
          <h3 class="py-5 text-center mb-4 display-6 lh-1 fw-bold">4 Office Supplies</h3>
        </div>
      </div>
    </div>

</div>

@* lolol------------------------ *@

<div  id="carouselExampleControls" data-bs-ride="carousel" class="carousel carousel-dark slide row row-cols-1 row-cols-lg-4 align-items-stretch g-4 p-5">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card-group">
        <div class="card">
          <img src="https://avatars.githubusercontent.com/u/2918581?v=4" class="card-img-top" alt="...">
       
        </div>
        <div class="card">
          <img src="https://avatars.githubusercontent.com/u/2918581?v=4" class="card-img-top" alt="...">
       
        </div>
        <div class="card">
          <img src="https://avatars.githubusercontent.com/u/2918581?v=4" class="card-img-top" alt="...">
       
        </div>
      </div>
    </div>
    
    <div class="carousel-item">
         <div class="card-group">
           <div class="card">
             <img src="https://avatars.githubusercontent.com/u/2918581?v=4" class="card-img-top" alt="...">
             
           </div>
           <div class="card">
             <img src="https://avatars.githubusercontent.com/u/2918581?v=4" class="card-img-top" alt="...">
             
           </div>
           <div class="card">
             <img src="https://avatars.githubusercontent.com/u/2918581?v=4" class="card-img-top" alt="...">
             
           </div>
         </div>
        </div>
  </div>
  

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

@code {
    
}


@* https://www.codeply.com/p/0CWffz76Q9 *@