@inherits LayoutComponentBase

<div class="body">
    <div class="navbar py-0">
        <NavBar />
    </div>
    

<main>
    
    @*<div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>*@

    <div>
        @Body
    </div>
</main>
</div>
