@inject ICategoryService CategoryService

<header class="shadow-sm w-100 mb5">
<!--Main Navigation-->

<!--Navbar -->
<!--Top Navbar-->
<div class="p-3 text-center text-white" style="background-color: #131921">
  <div class="container">
      <div class="row">
        <div class="col-md-4 d-flex justify-content-center justify-content-md-start mb-3 mb-md-0">
          <a href="#" class="ms-md-2 text-decoration-none">
            <h3 class="text-white">Stationery Plus</h3>
          </a>
        </div>
  
        <div class="col-md-4">
          <form class="d-flex input-group w-auto my-auto mb-3 mb-md-0">
            <input autocomplete="off" type="search" class="form-control rounded" placeholder="Search"/>
            <span class="input-group-text border-0 d-none d-lg-flex bg-dark"><i class="oi oi-magnifying-glass text-white"></i></span>
          </form>
        </div>
  
        <div class="col-md-4 d-flex justify-content-center justify-content-md-end align-items-center">
          <div class="d-flex">
            <!-- Cart Counter -->
            <a class="text-reset me-4" href="cart">
              <span><i class="oi oi-cart"></i></span>
              <span class="badge rounded-pill badge-notification position-absolute translate-middle p-1 bg-danger border border-light rounded-circle">0</span>
            </a>
  
            <!-- Notification -->
            <div class="dropdown">
              <a class="text-reset me-4 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink"
                 role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                <i class="oi oi-bell"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Some news</a></li>
                <li><a class="dropdown-item" href="#">Another news</a></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </div>
  
            <!-- Languages -->
            <div class="dropdown">
              <a class="text-reset dropdown-toggle me-4 hidden-arrow" href="#" id="navbarDropdown" role="button"
                 data-mdb-toggle="dropdown" aria-expanded="false">
                <i class="oi oi-flag m-0"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="#"><i class="united kingdom flag"></i>English
                    <i class="fa fa-check text-success ms-2"></i></a>
                </li>
                <li>
                  <hr class="dropdown-divider"/>
                </li>
                <li>
                  <a class="dropdown-item" href="#"><i class="poland flag"></i>Polski</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"><i class="china flag"></i>中文</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"><i class="japan flag"></i>日本語</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"><i class="germany flag"></i>Deutsch</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"><i class="france flag"></i>Français</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"><i class="spain flag"></i>Español</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"><i class="russia flag"></i>Русский</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"><i class="portugal flag"></i>Português</a>
                </li>
              </ul>
            </div>
  
            <!-- User -->
            <div class="dropdown">
              <a class="text-reset dropdown-toggle d-flex align-items-center hidden-arrow" href="#"
                 id="navbarDropdownMenuLinkOne" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                <img src="https://mdbootstrap.com/img/new/avatars/1.jpg" class="rounded-circle" height="22" alt=""
                     loading="lazy"/>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLinkOne">
                <li><a class="dropdown-item" href="#">My profile</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  <!--Top Navbar -->

<!-- Bottom Navbar -->
<nav class="navbar navbar-dark bg-dark" aria-label="Dark offcanvas navbar">
  
  <ul class="navbar mr-auto mt-2 mt-lg-0 ps-5 fs-5">
    <li class="d-flex navbar-nav">
      <button class="navbar-toggler btn shadow-none border-dark fs-5 pt-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark">
        <span class="navbar-toggler-icon"></span>
        <span class="text-white">Categories</span>
      </button>
      <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Categories</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                  <a href="#" class="nav-link active" aria-current="page">
                    <span class="bi bi-house-heart-fill me-2 fs-4"></span>
                    Home
                  </a>
                </li>
                @if (CategoryService.Categories != null)
               {
                @foreach (var category in CategoryService.Categories)
                {
                  <li>
                    <a href="@category.Url" class="nav-link text-white">
                     <span class="bi bi-house-heart-fill me-2 fs-4"></span>
                        @category.Name
                    </a>
                  </li>   
                }
               }
              </ul>
            </li>
          </ul>
        </div>
      </div>
            
    </li>
    <li class="nav-item me-2 me-lg-0 d-none d-md-inline-block mx-1">
              <a class="nav-link text-white" href="#">Bestsellers</a>
            </li>
            <li class="nav-item me-2 me-lg-0 d-none d-md-inline-block mx-4">
              <a class="nav-link text-white" href="#">Inspirations</a>
            </li>
            <li class="nav-item me-2 me-lg-0 d-none d-md-inline-block mx-4">
              <a class="nav-link text-white" href="#">Blog</a>
            </li>
            <li class="nav-item me-2 me-lg-0 d-none d-md-inline-block mx-4">
              <a class="nav-link text-white" href="#">Contact</a>
            </li>
      </ul>
</nav>

</header>

@code {
    //lifecycle method oninitalized
    protected override async Task OnInitializedAsync()
    {
        await CategoryService.GetCategories();
    }

}